
<div style="vertical-align:bottom; text-align:center">
	<div style="margin-top:40px">
		<p style = "color:gray; font-size:11px"> {{ txt['paginacion_pagina'] }} {{ pag }} {{ txt['paginacion_de'] }} {{ total_pag }} </p>
		<a class="btn btn-default" aria-label="Left Align" href="{{ inic_url }}"> {{ txt['paginacion_inicio'] }} </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ prev_url }}"> {{ txt['paginacion_anterior'] }} </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ next_url }}"> {{ txt['paginacion_siguient'] }} </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ fin_url }}">  {{ txt['paginacion_final'] }}  </a>		
	</div>
</div>
