
<div style="vertical-align:bottom; text-align:center">
	<div style="padding-top:40px">
		<p style = "color:gray; font-size:11px"> página {{ pag }} de {{ total_pag }} </p>
		<a class="btn btn-default" aria-label="Left Align" href="{{ inic_url }}"> inicio </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ prev_url }}"> anterior </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ next_url }}"> siguiente </a>
		<a class="btn btn-default" aria-label="Left Align" href="{{ fin_url }}">  final  </a>		
	</div>
</div>
