{% extends "base.html" %}

{% block app_content %}
	
	<table>
        <tr style = "vertical-align:bottom">
            <td style="width: 10%"><img src="{{url_for('static', filename="avatares/" + current_user.avatar + ".png")}}" width="70" height="70" alt="user avatar"/></td>
            <td style="width: 25%"> <h2>Hi! {{ current_user.username }}</h2> </td>
			<td style="width: 65%; text-align:right; color:gray"> <h3><i> {{ texto_cab }} </i></h3> </td>
        </tr>
    </table>
		
	<script type="text/javascript">
		function muestraJuego(){
			capa = document.getElementById("capaJuego");
			capa.style.display='block'
		}
	</script>
	
	<div id="capaJuego" style="display:none">
		<hr/>
		<iframe height="500px" width="100%" name="iframe_a" title="zona de juego" style = "background-color: #f8f8f8; box-shadow: 3px 3px 15px gray"></iframe>
	</div>
	
	{% include 'include_juegos_lista.html' %}

	
{% endblock %}
