

				<div style = "margin-top:12px; padding-left:6px; padding-right:6px; background-color: #f8f8f8; color:gray; height:73px; width:150px; box-shadow: 3px 3px 6px gray">
					<div style = "font-size:11px; height:40px; border-bottom:1px solid #D8D8D8">
						<div style = "width:70%; padding-top:11px; padding-left:9px; float:left; color:#2980B9">
							tu valoración
						</div>					
						<div id="punt{{ juego[15] }}" style = "width:30%; float:right; padding-right:7px; text-align:right; font-size:25px; color:#e67e22">{{ juego[14] }}</div>
	
					</div>
					
					<div style="margin-top:5px; margin-left:4px">
						<div style="float:left; width:16%">
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '--')">
								-
							</button>
						</div>
						<div style="float:left; width:16%">
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '1')">
								1
							</button>
						</div>
						<div style="float:left; width:16%">						
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '2')">
								2
							</button>
						</div>
						<div style="float:left; width:16%">
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '3')">
								3
							</button>
						</div>
						<div style="float:left; width:16%">
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '4')">
								4
							</button>
						</div>
						<div style="float:left; width:16%">
							<button class="btn btn-default btn-xs" onClick="cambiaPuntuacion({{ juego[15] }}, {{ juego[16] }}, '5')">
								5
							</button>
						</div>
					</div>
				</div>